/* Escribe aquí tus estilos CSS 
<!--
        Cada tarjeta o etiqueta <article>:
            - Tendra un ancho de 330px; Para que la imagen no sobresalga de un contenedor o padre tendreis que decirle que la imagen tenga un ancho del 100%.
            - Tendra una altura de 400px;
            - Estará centrada en el sitio web
            - Para poner bordes redondeados tenemos que usar la propiedad border-radius y darle un valor de 8px. Si la imagen sobresale tendremos que utilizar la propiedad overflow con el valor "hidden" para que se oculte el contenido que pueda sobresalir de la tarjeta.
            - Alinear el texto de la tarjeta en el centro.
            - Dibujar un borde de 1 px de grosor y de color lightgrey.
        
        Los enlaces de dentro de las cajas:
            - Seran de color azul.
            - No tendran linea de subrayado
            - Al igual que los otro enlaces, al pasar el cursor por encima aparecerá el subrayado.
    -->
*/

body{
    font-family: sans-serif;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #6a6a6a;
}

nav li{
    list-style: none;
    text-align: center;
}

nav li a{
    text-decoration: none;
    color: #6a6a6a;
}

nav li a:hover{
    text-decoration: underline;
}

article{
    width: 330px;
    height: 400px;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    border: 1px solid lightgrey;
}

article img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article a{
    color: rgb(0, 0, 255);
    text-decoration: none;
}

article a:hover{
    text-decoration: underline;
}